<% if true %>
<%# raise %>
<h1 class="text-center">Here are the main current news</h1>
<h3 class="text-center">(fetched from Wikipedia)</h3></br></br>
<ul class="list-unstyled">
  <% @events.each do |event| %>
    <li><%= event.content.html_safe %></li>
    <p class="separator">----------------</p>
  <% end %>
</ul>
<% end %>
