@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu";
  flex-flow: column;
  text-align: center;

}
